# Entornos virtuales
lsc_env/
venv/
env/
.git/
.vscode/
# Python cache
__pycache__/
*.pyc

# Datos y Modelos (Opcional: súbelos solo si no pesan más de 50MB)
# dataset_lsc.csv
# modelo_lsc.p

# Archivos de sistema
.DS_Store
Thumbs.db

dist/
build/
*.spec
*.exe